<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kkobakkobak">

        <meta-data
            android:name="com.samsung.support.ongoing_activity"
            android:value="true" />

        <activity
            android:name="com.example.kkobakkobak.ui.main.MainActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.main.MedicationNowBarService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>

        <activity-alias android:name=".ui.main.MainActivitySad" android:targetActivity=".ui.main.MainActivity" android:enabled="false" android:exported="true" android:icon="@drawable/ic_mood_bad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name=".ui.main.MainActivityAngry" android:targetActivity=".ui.main.MainActivity" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_angry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.alarm.AlarmFullscreenActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kkobakkobak.TranslucentAlarm" />

        <activity android:name=".ui.record.RecordActivity" />
        <activity android:name=".ui.log.LogActivity" />
        <activity android:name=".ui.history.LogHistoryActivity" />
        <receiver android:name=".receiver.AlarmReceiver" android:exported="false" />
        <receiver android:name=".receiver.MedicationTakenReceiver" android:exported="false" />
        <receiver android:name=".receiver.BootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>